
<h1>scrumblr by <a href="http://aliasaria.ca">aliasaria</a>, modified by Jacob Culley</h1>

<div class="board-outline">
    <div id="board">
        <div id="board-doodles"></div>

        <table id="board-table" class="board-table">
            <tr>
                <td>
                    <h1 class="home">scrumblr.</h1>
                    <form class="home" onsubmit="return go();">
                        <label>name your new board:</label><br>
                        <input class="text" type="text" name="name">
                        <a id="go" onclick="return go();">&nbsp;go.</a>
                    </form><br><br>
                    <p class="home">example board: <a href="<%='http://' + url + '/demo' %>">demo</a></p><br>
                </td>
            </tr>
        </table>
    </div>
</div>
