<nav class="font-customFont my-2">
    <div class="max-w-screen-xl px-4 py-3 mx-auto flex justify-center ">
        <ul class="flex flex-row font-medium mt-0 space-x-12 rtl:space-x-reverse text-xl">
            <% if (username) { %>
                <li>
                    <a href="/rooms" class="<%= currentNav === 'rooms' ? 'underline font-semibold' : 'text-gray-900' %> dark:text-white hover:underline">Dashboard</a>
                </li>                
                <li>
                    <a href="/" class="<%= currentNav === 'home' ? 'underline font-semibold' : 'text-gray-900' %> dark:text-white hover:underline">Room Access</a>
                </li>
            
                <li>
                    <a href="/logout" class="text-gray-900 dark:text-white hover:underline">Log Out</a>
                </li>

            <% } else { %>
                <li>
                    <a href="/login" class="<%= currentNav === 'login' ? 'underline font-semibold' : 'text-gray-900' %> dark:text-white hover:underline">Sign In</a>

                </li>
                <li>
                    <a href="/register" class="<%= currentNav === 'register' ? 'underline font-semibold' : 'text-gray-900' %> dark:text-white hover:underline">Register</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>
