<div class="board-outline" style="height: fit-content;">
    <div id="board" style="min-height: 60vh;">

        <h1 class="font-customFont text-5xl text-center text-gray-400 mb-24">Register to Scrumblr</h1>

        <div id="board-container" class="flex flex-col items-center font-customFont justify-center" style="min-height: 30vh; height: fit-content;">
        
            <div id="status-message" class="w-full max-w-md hidden">
                <div class="text-center">
                    <p class="text-4xl text-green-800 mb-4">Successful registration!</p>
                    <p class="text-2xl text-gray-600 mb-2s">You will be redireced to the login page in</p>
                    <p class="text-3xl text-gray-600"><span id="counter">5</span>s</p>                    
                </div>
            </div>

            <div id="board-content" class="w-full max-w-xl text-2xl">

                <div class="flex items-center mb-10">
                    <label for="email" class="text-gray-800 w-1/3">Email</label>
                    <div class="flex-1 flex flex-col">
                        <input id="email" type="email" name="email" autofocus autocomplete="off" class="p-0 focus:outline-none text-gray-600 border-b-2 border-dashed border-gray-500 bg-inherit">
                        <span id="email-error" class="h-2 error-message text-sm text-red-700 mt-1 opacity-90"></span>
                    </div>
                </div>

                <div class="flex items-center mb-10">
                    <label for="email" class="text-gray-800 w-1/3">Username</label>
                    <div class="flex-1 flex flex-col">
                        <input id="username" type="username" name="username" autocomplete="off" class="p-0 focus:outline-none text-gray-600 border-b-2 border-dashed border-gray-500 bg-inherit">
                        <span id="username-error" class="h-2 error-message text-sm text-red-700 mt-1 opacity-90"></span>
                    </div>
                </div>                          

                <div class="flex flex-col mb-10">  <!-- This container is for vertical stacking -->
                    <div class="flex items-center">  <!-- This container is for horizontal alignment of label and input -->
                        <label for="password" class="text-gray-800 w-1/3">Password</label>
                        <div class="flex-1 flex flex-col">
                            <input id="password" type="password" name="username" autocomplete="off" class="p-0 focus:outline-none text-gray-600 border-b-2 border-dashed border-gray-500 bg-inherit">
                            <span id="password-error" class="h-2 error-message text-sm text-red-700 mt-1 opacity-90"></span>
                        </div>
                    </div>
                
                    <div id="password-requirements" class="flex flex-col items-center text-sm ml-2 mt-1">
                        <div>
                            <div id="lowercase" class="password-requirement invalid"><i class="fa fa-check text-green-500"></i> - 1 lowercase letter</div>
                            <div id="uppercase" class="password-requirement invalid"><i class="fa fa-check text-green-500"></i> - 1 uppercase letter</div>
                            <div id="number" class="password-requirement invalid"><i class="fa fa-check text-green-500"></i> - 1 number</div>
                            <div id="length" class="password-requirement invalid"><i class="fa fa-check text-green-500"></i> - 8 characters long</div>
                        </div>
                    </div>

                </div>
                
                
                
                <div class="flex justify-end">
                    <div class="flex flex-col items-end">
                        <button id="btn-submit" class="text-white text-2xl bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 opacity-90 rounded-xl focus:outline-none focus:shadow-outline disabled:opacity-50 disabled:cursor-not-allowed" disabled>
                            Submit
                        </button>
                        <div class="text-gray-500 text-base font-medium mt-4">
                            Already have an account? <a href="/login" class="text-indigo-900">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="loader" class="hidden flex items-center justify-center mt-8">
                <div
                  class="inline-block h-6 w-6 animate-spin rounded-full border-4 border-solid border-current border-e-transparent align-[-0.125em] text-gray-500 motion-reduce:animate-[spin_1.5s_linear_infinite]"
                  role="status">
                </div>
            </div>


            <!-- <div id="status-message" class="flex flex-col items-center justify-center mt-1 mt-8 text-xl text-center text-green-600">
            </div> -->

        </div>

    </div>
</div>
