<div class="board-outline">
    <div id="board">
        <div id="board-doodles" class="-z-10"></div>

        <div class="flex flex-col items-center font-customFont">
            <h1 class="font-customFont text-5xl text-center mb-1 text-gray-400 mb-6">Register to Scrumblr</h1>
        
            <div class="w-full max-w-md text-2xl">

                <div class="flex items-center mb-10">
                    <label for="email" class="text-gray-800 w-1/3">Email</label>
                    <div class="flex-1 flex flex-col">
                        <input id="email" type="email" name="email" autocomplete="off" class="p-0 focus:outline-none text-gray-600 border-b-2 border-dashed border-gray-500 bg-inherit">
                        <span id="email-error" class="error-message text-sm text-red-700 mt-1 opacity-0">Email already exists</span>
                    </div>
                </div>

                <div class="flex items-center mb-10">
                    <label for="email" class="text-gray-800 w-1/3">Username</label>
                    <div class="flex-1 flex flex-col">
                        <input id="username" type="username" name="username" autocomplete="off" class="p-0 focus:outline-none text-gray-600 border-b-2 border-dashed border-gray-500 bg-inherit">
                        <span id="username-error" class="error-message text-sm text-red-700 mt-1 opacity-0">Username already exists</span>
                    </div>
                </div>                          

                <div class="flex items-center mb-8">
                    <label for="email" class="text-gray-800 w-1/3">Password</label>
                    <div class="flex-1 flex flex-col">
                        <input id="password" type="password" name="username" autocomplete="off" class="p-0 focus:outline-none text-gray-600 border-b-2 border-dashed border-gray-500 bg-inherit">
                        <span id="password-error" class="error-message text-sm text-red-700 mt-1 opacity-0">Invalid password</span>
                    </div>
                </div>
                
                <div class="flex justify-end">
                    <button disabled id="btn-submit" class="text-gray-500 text-3xl font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline opacity-50 cursor-not-allowed">                        Submit
                    </button>
                </div>                
            </div>

            <div class="mt-5 w-full max-w-md flex justify-start">
                <div class="text-gray-500 text-lg font-bold">
                    Already have an account? <a href="/login" class="text-indigo-900">Sign In</a>
                </div>
            </div>                 
        </div>

    </div>
</div>
