<div class="board-outline">
    <div id="board">
        <div id="board-doodles" class="-z-10"></div>

        <div class="flex flex-col items-center font-customFont">
            <h1 class="font-customFont text-5xl text-center mb-1 text-gray-400 mb-10">Register to Scrumblr</h1>
        
            <div class="w-full max-w-md text-3xl">
                <div class="flex items-end mb-10 ">
                    <label for="email" class="text-gray-800 w-1/3">Email:</label>
                    <input id="email" type="email" name="email" class="focus:outline-none text-gray-600 ml-4 border-b-2 border-dashed border-gray-500 bg-inherit flex-1">
                </div>

                <div class="flex items-end mb-10">
                    <label for="username" class="text-gray-800 w-1/3">Username:</label>
                    <input id="username" type="text" name="username" class="focus:outline-none text-gray-600 ml-4 border-b-2 border-dashed border-gray-500 bg-inherit flex-1">
                </div>                

                <div class="flex items-end mb-10">
                    <label for="password" class="text-gray-800 w-1/3">Password:</label>
                    <input id="password" type="password" name="password" class="focus:outline-none text-gray-600 ml-4 border-b-2 border-dashed border-gray-500 bg-inherit flex-1">
                </div>
                
                <div class="flex justify-end">
                    <button class="text-gray-500 text-4xl hover:text-gray-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Register
                    </button>
                </div>                
            </div>

            <div class="mt-5 w-full max-w-md flex justify-start">
                <div class="text-gray-500 text-lg font-bold">
                    Already have an account? <a href="/login" class="text-indigo-900">Sign In</a>
                </div>
            </div>                 
        </div>

    </div>
</div>


<!-- <script type="text/javascript">
function go() {
    var value = document.forms[0].elements["name"].value;
    value = escape(value);
    window.location.href = value;
    return false;
}
</script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2069672-4']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script> -->