<div class="board-outline" style="height: fit-content;">
    <div id="board" style="min-height: 50vh;">

        <div class="text-center mb-24 h-24">
            <h1 class="font-customFont text-5xl text-gray-400">Reset your password?</h1>
        </div>

        <div class="flex flex-col items-center font-customFont h-full">        
            <div class="w-full max-w-md text-2xl h-full">         

                <div class="flex items-center mb-10">
                    <label for="password" class="text-gray-800 w-1/3">New password</label>
                    <div class="flex-1 flex flex-col">
                        <input id="token" type="hidden" name="token" value="<%= token %>">
                        <input id="user" type="hidden" name="user" value="<%= user %>">
                
                        <input id="password" type="password" name="password" value='' autofocus autocomplete="off" class="p-0 focus:outline-none text-gray-600 border-b-2 border-dashed border-gray-500 bg-inherit">
                        <span id="reset-error" class="h-2 error-message text-sm text-red-700 mt-1 opacity-90"></span>
                    </div>
                </div>                          
                
                <div class="flex justify-end">
                    <button disabled id="btn-submit" class="text-white text-2xl bg-blue-500 hover:bg-blue-700 opacity-90 font-bold py-2 px-4 rounded-xl focus:outline-none focus:shadow-outline disabled:opacity-50 disabled:cursor-not-allowed">
                        Submit new password
                    </button>
                </div>

                <div id="reset-success" class="flex flex-col my-auto justify-center text-center justify-end text-green-600 mt-6">
                </div>

            </div>
            
        </div>

    </div>
</div>
