<div class="board-outline">
    <div id="board">
        <div id="board-doodles" class="-z-10"></div>

        <div class="flex flex-col items-center font-customFont">
            <h1 class="font-customFont text-center mb-1 text-gray-400 mb-16 text-5xl">Access denied</h1>
        
            <div class="w-full max-w-md">

                <div class="flex flex-col items-center">
                    <p class="text-red-600 mb-8 text-3xl">Invalid user and/or token provided.</p>

                    <div class="text-xl text-gray-600 text-center">
                        <p>If you want to reset your password, please click <a href="/forgot-password" class="text-blue-500 hover:underline">here</a></p>

                    </div>
                </div>
                
            </div>
            
        </div>

    </div>
</div>
