<div class="board-outline" style="height: fit-content;">
    <div id="board" style="min-height: 50vh;">

        <div class="text-center mb-24 h-24">
            <h1 class="font-customFont text-5xl text-gray-400">Access denied</h1>
        </div>

        <div class="flex flex-col items-center font-customFont">        
            <div class="w-full max-w-md">

                <div class="flex flex-col items-center">
                    <p class="text-red-600 mb-8 text-3xl">Invalid user and/or token provided.</p>

                    <div class="text-xl text-gray-600 text-center">
                        <p>If you want to reset your password, please click <a href="/forgot-password" class="text-blue-500 hover:underline">here</a></p>

                    </div>
                </div>
                
            </div>
            
        </div>

    </div>
</div>
