<div class="board-outline h-3/5 ">
    <div id="board" class="font-customFont p-4">
        <h1 class="font-customFont text-center text-5xl mb-1 text-gray-400 mb-2">List of rooms</h1>

        <div class="flex flex-col items-center justify font-customFont h-full p-6">  <!-- border border-gray-500 h-full -->

            <div id="wrapper" class=""></div>

        </div>
        
    </div>
</div>

