<!DOCTYPE html>
<html lang="">
    <head>
        <%- include('./partials/head'); %>
    </head>

    <body>
        <header>
            <%- include('./partials/navbar'); %>
        </header>

        <%- include(body); %>

        <!-- Dynamically included scripts -->
        <%- include('./partials/scripts'); %>
    </body>


</html>